/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f; /* Webpage background color */
    color: #ffffffe6; /* All font text color */
}

/* Content Wrapper */
.content-wrapper {
    display: flex;
    padding: 24px;
    gap: 24px;
    height: calc(100vh - 48px); /* Full height minus padding */
}

/* Primary Content */
.primary-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Player Header */
.player-header {
    background-color: #000c;
    margin: 0 0 16px;
    padding: 12px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between header-buttons and nextep-button */
    height: 40px; /* Fixed height for player-header */
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 16px; /* Add some spacing between the buttons */
}

.git-button,
.bug-button,
.nextep-button,
.epselect-button {
    width: 40px;
    height: 40px;
    font-size: 13px;
    font-family: Arial;
    border: none;
    cursor: pointer;
    background-color: #000c; /* Button background color */
    color: #ffffffe6; /* Button text color */
    border-radius: 20px; /* Added border radius for buttons */
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally and vertically */
    transition: background-color 0.2s, transform 0.2s; /* Smooth transitions */
    text-decoration: none; /* Remove underline from links */
}

.git-button i {
    font-size: 40px; /* Adjusted GitHub icon size */
}

.bug-button {
    font-size: 30px;
}

.git-button:hover,
.bug-button:hover {
    transform: translateY(-4px); /* Slight upward movement */
}

.show-title {
    font-size: 20px;
    font-family: 'Ubuntu', 'El Messiri', sans-serif;
    margin: 0;
    text-align: center;
    white-space: nowrap; /* Prevents the title from wrapping */
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 16px; /* Add some margin to prevent overlap */
    cursor: pointer;
}

.show-title:hover {
    text-decoration: underline;
}

.nextep-button,
.epselect-button {
    cursor: default;
    visibility: hidden;
}

.nextep-button svg,
.epselect-button svg {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.nextep-button:hover svg,
.epselect-button:hover svg {
    transform: scale(1.3); /* Makes the SVG 20% bigger */
}

.nextep-button:disabled,
.epselect-button:disabled {
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.4; /* Optional: Reduce opacity to make it look disabled */
}

.nextep-button:disabled svg,
.epselect-button:disabled svg {
    transform: scale(1); /* Makes the SVG 20% bigger */
}

/* Player Content */
.player-content {
    border-radius: 8px;
    overflow: hidden;
    flex: 1;
    background-color: #1f1f1f; /* Background color for player content */
}

#videoFrame {
    width: 100%;
    height: 100%;
    border: none;
}

/* Secondary Content */
.secondary-content {
    width: 400px; /* Adjusted width for secondary-content */
    overflow: hidden;
    background-color: transparent; /* Transparent background for secondary-content */
}

/* Sidebar */
.sidebar {
    height: 100%;
    background-color: #1f1f1f; /* Background color for sidebar */
    border-radius: 12px; /* Added border radius for sidebar */
}

.servers {
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent; /* Transparent background for movie-servers */
}

.servers-title {
    font-size: 14px;
    font-family: 'Ubuntu', 'El Messiri', sans-serif;
    margin: 0 0 16px;
}

/* Server Grid */
.server-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.server-card {
    height: 62px;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, .05); /* Border color for server-card */
    border-radius: 8px;
    background-color: #ffffff05; /* Transparent background for server-card */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s; /* Smooth transitions */
}

.server-card:hover {
    background: #ffffff0a; 
    border-color: #ffffff1a; 
    transform: translateY(-1px); 
}

.server-card.selected {
    background: #ffffff0d; 
    border-color: #ffffff30; 
}

.server-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-name {
    font-size: 14px;
    font-family: 'Ubuntu', 'El Messiri', sans-serif;
    color: #ffffffe6; /* Font color for server-name */
}

.server-label {
    font-size: 11px;
    font-family: Arial;
    margin-top: 3px;
    color: #ffffffb3; /* Font color for server-label */
}

.server-speed {
    font-size: 11px;
    font-family: Arial;
    margin-top: 4px;
    color: #999;
}

/* Popover Styles */
.popover-container {
    position: relative;
    display: inline-block;
}

.popover-content {
    visibility: hidden;
    width: 450px;
    height: 564px;
    background-color: #0D0D0D;
    color: #ffffff;
    text-align: left;
    border-radius: 8px;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    transform: translateX(-78%);
    margin-top: 41px;
    opacity: 0;
    font-size: 16px;
    font-family: 'Ubuntu', 'El Messiri', sans-serif;
    overflow: hidden;
    /*border: 1px solid rgba(255, 255, 255, 0.1);*/
}

.popover-container.active .popover-content {
    visibility: visible;
    opacity: 0.97;
}

/* Header */
.popover-header {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    gap: 20px; /* Gap between back button and title */
    height: 36px;
}

.popover-back-button {
    display: none; /* Hidden by default */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s; /* Smooth transitions */
}

.popover-header-title {
    flex-grow: 1; /* Allow title to take up remaining space */
    font-size: 18px;
    font-family: 'Ubuntu', 'El Messiri', sans-serif;
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap; /* Prevents the title from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if title is too long */
}

.popover-close-button {
    cursor: pointer;
    margin-left: auto; /* Push close button to the right */
    transition: background-color 0.2s, transform 0.2s; /* Smooth transitions */
}

.popover-back-button:hover svg,
.popover-close-button:hover svg {
    transform: scale(1.3); /* Makes the SVG 20% bigger */
}

/* List Container */
.popover-list-container {
    height: calc(564px - 60px); /* Subtract header height from total height */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Custom Scrollbar */
.popover-list-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.popover-list-container::-webkit-scrollbar-track {
    background: transparent; /* Make the track invisible */
}

.popover-list-container::-webkit-scrollbar-thumb {
    background: #444; /* Thumb color */
    border-radius: 4px;
}

.popover-list-container::-webkit-scrollbar-thumb:hover {
    background: #666; /* Thumb color on hover */
}

/* List Styles */
.popover-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popover-content ul li {
    padding: 12px 20px;
    cursor: pointer;
    height: 32px;
    align-items: center;
    display: block;
}

.popover-content ul li:hover {
    background-color: #333;
}

.season-name,
.episode-name {
    display: block; /* Ensures it takes up full width */
    white-space: nowrap; /* Prevents the title from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if title is too long */
    overflow: hidden;
}

.season-details,
.episode-details {
    display: block; /* Ensures it is on a new line */
    color: #999;
    font-size: 13px;
    margin-top: 2px;
    font-style: italic;
    opacity: 0.8;
    white-space: nowrap; /* Prevents the title from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if title is too long */
    overflow: hidden;
}

@media (max-width: 1200px) {
    body {
        overflow-y: auto; /* Allow the entire webpage to scroll vertically */
    }

    .content-wrapper {
        flex-direction: column; /* Stack primary and secondary content vertically */
        gap: 16px; /* Reduce gap between sections */
        height: auto; /* Allow the content-wrapper to grow based on its content */
    }

    .primary-content {
        width: 100%; /* Make primary content take full width */
    }

    .secondary-content {
        width: 100%; /* Make secondary content take full width */
        height: auto; /* Allow secondary content to grow based on its content */
        overflow: visible; /* Ensure no internal scrolling */
    }

    .sidebar {
        height: auto; /* Allow sidebar to grow based on its content */
    }

    .servers {
        height: auto; /* Allow servers to grow based on its content */
    }

    .server-grid {
        height: auto; /* Allow server-grid to grow based on its content */
    }

    .player-content {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625 or 56.25%) */
    }

    #videoFrame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .show-title {
        font-size: 16px;
        max-width: 50%;
    }

    .header-buttons {
        gap: 4px;
    }
    
    .git-button i {
        font-size: 30px; /* Adjusted GitHub icon size */
    }
    
    .bug-button {
        font-size: 20px;
    }
    
    .nextep-button svg,
    .epselect-button svg {
        width: 25px;
        height: 25px;
        transition: transform 0.2s ease;
    }

    .popover-content {
        width: 70vw; /* Scales width */
        height: calc(75vw * (492 / 450)); /* Maintains aspect ratio */
        right: -47px; /* Keeps a fixed distance from the right side */
        left: auto; /* Ensures it does not interfere with positioning */
        transform: none; /* Remove translateX to avoid shifting issues */
        font-size: 15px;
    }

    .popover-list-container {
        height: calc(calc(75vw * (492 / 450)) - 36px - 12px - 12px); /* Subtract header height */
    }

    .popover-header-title {
        font-size: 16px;
    }

    .popover-content ul li {
        padding-right: 8px;
    }

    .season-details,
    .episode-details {
        font-size: 12px;
    }
}
